* {
  margin: 0%;
  padding: 0%;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
input,
textarea {
  display: block;
  border: 2px solid black;
  border-radius: 6px;
  outline: none;
  font-size: 16px;
  width: 80%;
  margin: 11px 0px;
  padding: 7px;
}
.navbar {
  background-color: rgb(172, 213, 231);
  text-align: left;
  padding: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: brown;
}
.navbar-brand {
  display: inline;
  font-size: 34px;
  line-height: inherit;
  white-space: nowrap;
}
.list-non-bullet.nav-pills {
  text-align: right;
  float: right;
  display: inline;
}
.container {
  background-color: bisque;
  text-align: center;
  margin: 4px auto;
  width: 44%;
  padding-bottom: 14px;
}

.dropdown {
  padding: 7px;
  width: 62%;
  border: 2px solid grey;
  border-radius: 7px;
}
.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0.4rem;
}
.list-non-bullet {
  list-style: none;
}
.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
.link.link-active {
  font-weight: 900;
  color: var(--contrast-color);
  font-size: 1.01rem;
}
.navigation .nav-pills {
  text-align: right;
}

.btn {
  color: white;
  background: purple;
  padding: 8px 12px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 14px;
  cursor: pointer;
}
